@{
    ViewBag.Title = "Desempenho Financeiro";
}

<h2>Desempenho Financeiro</h2>

<div>
    <p>ID: @Model.Id</p>
    <p>Receita: @Model.Receita</p>
    <p>Lucro: @Model.Lucro</p>
    <p>Crescimento: @Model.Crescimento</p>
</div>
