@{
    ViewBag.Title = "Tendências de Gastos";
}

<h2>Tendências de Gastos</h2>

<div>
    <p>ID: @Model.Id</p>
    <p>Ano: @Model.Ano</p>
    <p>Gasto em Marketing: @Model.GastoMarketing</p>
    <p>Gasto em Automação: @Model.GastoAutomacao</p>
</div>
